

The <EM>Extended Object Tcl (XOTcl)</EM> Documentation contains the
following parts: 

<h2> XOTcl Language Documentation </h2>
  <UL>
  <LI>XOTcl Tutorial (<a href="tutorial.html">HTML</a>, 
		      <a href="tutorial.pdf">PDF</a>)
  <LI>Language Reference (<a href="langRef-xotcl.html">HTML</a>,
		      <a href="langRef-xotcl.pdf">PDF</a>)
  <LI>If you have question, problems etc. you might check the
      <a href="http://alice.wu-wien.ac.at/mailman/listinfo/xotcl">XOTcl 
         mailing list</a> (<a href="http://alice.wu-wien.ac.at:8000/xotcl-mailing-list/">archive 1</a>,
      <a href="http://alice.wu-wien.ac.at/pipermail/xotcl/">archive 2</a>)
      or you might check the XOTcl section of the  
         <a href="http://wiki.tcl.tk/XOTcl">Tcl wiki</a>.
   </UL>

<h2>Package and Script Documentation</h2>
<center>
  This section of the documentation is under work...
</center>

  <ul>
    <li> <b>Directory './library/serialize': </b><br><a HREF="./serializer-tcl.html">serializer.tcl</a><li> <b>Directory './library/xotcl/library/lib': </b><br><a HREF="./Script-xotcl.html">Script.xotcl</a>, <a HREF="./htmllib-xotcl.html">htmllib.xotcl</a>, <a HREF="./makeDoc-xotcl.html">makeDoc.xotcl</a>, <a HREF="./metadataAnalyzer-xotcl.html">metadataAnalyzer.xotcl</a>, <a HREF="./mixinStrategy-xotcl.html">mixinStrategy.xotcl</a>, <a HREF="./package-xotcl.html">package.xotcl</a>, <a HREF="./staticMetadata-xotcl.html">staticMetadata.xotcl</a>, <a HREF="./trace-xotcl.html">trace.xotcl</a>, <a HREF="./upvarcompat-xotcl.html">upvarcompat.xotcl</a>, <a HREF="./xodoc-xotcl.html">xodoc.xotcl</a><li> <b>Directory './library/xotcl/tests': </b><br><a HREF="./slottest-xotcl.html">slottest.xotcl</a>, <a HREF="./speedtest-xotcl.html">speedtest.xotcl</a>, <a HREF="./testo-xotcl.html">testo.xotcl</a>, <a HREF="./testx-xotcl.html">testx.xotcl</a><li> <b>Directory './library/xotcl/apps/comm': </b><br><a HREF="./ftp-xotcl.html">ftp.xotcl</a>, <a HREF="./link-checker-xotcl.html">link-checker.xotcl</a>, <a HREF="./secure-webclient-xotcl.html">secure-webclient.xotcl</a>, <a HREF="./secure-webserver-xotcl.html">secure-webserver.xotcl</a>, <a HREF="./webclient-xotcl.html">webclient.xotcl</a>, <a HREF="./webserver-xotcl.html">webserver.xotcl</a><li> <b>Directory './library/xotcl/apps/utils': </b><br><a HREF="./xo-daemon.html">xo-daemon</a>, <a HREF="./xo-whichPkg.html">xo-whichPkg</a>
  </ul>
  <p>

<h2>Tcl Online Information </h2>
  <ul>
   <li>Online information for <a href="http://www.tcl.tk/man/">
      Tcl manual pages</a>
  </ul>
 

